@model HotDrinks.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Welcome! Please, order your drinks!</h2>
<div class="row">
    <div class="col-sm-8">
        @foreach (var item in Model.Drinks)
        {
            <div class="col-sm-3">
                <div class="card">
                    <img src="@item.ImgSource" class="card-img-top" alt=@item.Name>
                    <div class="card-body">
                        <h5 class="card-title">@String.Format("{0}, {1} €", item.Name, item.Price)</h5>
                        <button onclick="AddToCart(@item.Id)">Add To Cart</button>
                    </div>
                </div>
            </div>
        }
    </div >
    <div class="col-sm-4">
        <div id="cart">
            @if (Model.Cart.cartItems.Any())
            {
                @Html.Partial("../Cart/Cart", Model.Cart);
            }
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Home/HomeScripts.js")

